<div class="comment_new">
  <div class="comment_new_text">
  <%= form_with(model:[post_ramen, post_comment], method: :post, remote: true) do |f| %>
    <%= f.text_area :content, placeholder: "コメントをここに", class: "form-control" %>
  </div>
  <div class="comment_new_button">
    <%= f.submit "コメントする", class: "btn btn-secondary" %>
  <% end %>
  </div>
</div>
