<div class="like_button">
  <% if post_ramen.liked_by?(current_user) %>
    <p>
      <%= link_to post_ramen_like_path(post_ramen, post_ramen.id), method: :delete, remote: true do %>
        ♥<%= post_ramen.likes.count %> いいね
    </p>
    <% end %>
  <% else %>
    <p>
      <%= link_to post_ramen_likes_path(post_ramen), method: :post, remote: true do %>
        ♡<%= post_ramen.likes.count %> いいね
  <% end %>
    </p>
  <% end %>
</div>