<div class="container-fluid" >
  <div class="row">
    <div class="col-3 left-side-bar" style="background-color: orange">
      left-side-bar
      <%= render 'layouts/left_side_bar' %>
    </div>
    <div class="col-6 main" style="background-color: blue">
      main
        <%= render 'homes/main', post_ramens: @post_ramens %>
    </div>
    <div class="col-3 right-side-bar" style="background-color: orange">
      right-side-bar
      <%= render 'layouts/right_side_bar', q: @q, tags: @tags %>
    </div>
  </div>
</div>