// Place all the styles related to the post_ramens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 300px;
  width: 300px;
  border: 1px solid #cccccc;
  border-radius: 8%;
}

.post_comment_index_area {
  min-height: 0px;
  max-height: 250px;
  overflow: scroll;
}

.user_name {
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 40px;
  }

.col-5.post_ramen_main {
    padding-left: 0px;
    padding-right: 0px;
}

.timeline_box_postramen {
    border-bottom: 1px solid #cccccc;
    // border-right: 1px solid #cccccc;
    font-size: 14px;
    background-color: white;
    width: 100%;
    // border-left: 1px solid #cccccc;
}

.timeline_box_postramen:hover {
  background: whitesmoke;
}

.timeline_header {
    padding: 5px;
}

.col-2.icon-user {
  width: 40px;
  height: 40px;
  padding-left: 30px;
}

.user-name {
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 40px;
}

.timeline_main {
    display: flex;
    padding-top: 2px;
}



.timeline_preview {
    padding-left: 8px;
    padding-right: 10px;

}

.timeline_information {
    padding-right: 10px;
    width: 100%;
}

.timeline_title {
    font-weight: bold;
    overflow-wrap: anywhere;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

.timeline_content {
    padding-top: 5px;
}

.timeline_content_content {
    padding-top: 5px;
}

.tag_area {
    padding-top: 5px;
}

.time_cell {
    padding-left: 5px;
    padding-right: 5px;
    color: #999999;
    text-align: right;
}

.timeline_footer {
    display: flex;
    padding: 5px;
}

.timeline_footer_box {
    height: 100%;
    flex: 1;
    text-align: center;
}

.comment_box {
    background-color: white;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
}

.comment_main {
    padding: 13px;
}

.comment_text {
    overflow-wrap: anywhere;
}

.comment_delete_box {
    text-align: right;
}

.comment_delete {
    text-align: right;
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 5px;
}

.comment_new {
    padding: 8px;
    background-color: white;
    // border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.comment_new_text {
    width: 100%;
    resize: none;
}

.btn.btn-secondary {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 0 5px auto;
}

// ------------------ right　サイドバー -------------------------------

.col-4.right_side_bar {
 padding-right: 50px;
 padding-left: 0px;
 background-color: gray;
  }

.right_side_map {
    height: 100%;
    background-color: white;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 13%;
    padding-right: 20%;
}

// -------------------new-----------------------------

.search_box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.search_check_box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 15px;
}