<div class="home_left_side">
  <div class="left_side">
    <div class="left_side_link_box">
      <a class="left_side_link">
        <div class="left_side_icon">
          <img src="/assets/ラーメン.png" width="33" height="33">
        </div>
        <div class="left_side_text">
          ホーム
        </div>
      </a>
    </div>
    <div class="left_side_search_box">
      <div class="left_side_search_content">
        aaaaaaaaa
      </div>
    </div>
  </div>
</div>